
/***************************
      ESTILOS GENERALES
****************************/
:root {
  --primary-color: #a3c2c2;
  --titleButton-color: #527a7a;
  --submitButton-color: #d0d5e4;
  --titleBorderHome-color: #669999;
}


*{
  box-sizing: border-box;
  font-family: sans-serif;
}


.photoContainer img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: black;
}

body{


text-align: center;
font-family: italic;
  background-image: url(../img/tree.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}

.title h2 {
  margin: 0 auto;
  width: 200px;
  color: black;
font-family: 'Cormorant SC', serif;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  font-weight: bolder;
}

.buttonPages{

  background-color: var(--submitButton-color);
  border-radius: 5px/5px;
  color: #333;
  display: inline-block;
  font-family: georgia;
  font-size: 18px;
  font-weight: bold;
  width: 270px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  height: 50px;
  margin: 20px 0 0;
	border:none;
	cursor: pointer;
  padding-bottom: 60px;

}



/************************
ERROR
***********************/

p.errors {
  font-size:12px;
  padding: 12px;
  color: #d81e5b;
  border: 1px solid red;
  background-color: white;
  border-radius: 10px;
}



/************************
BARRA DE NAVEGACION
/************************
/* aca le das estilo a la barra*/
.sidebar {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* estilos a los links*/
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}



/* hover */
.sidebar a:hover {
  color: #f1f1f1;
}


/***************************
      HOME
****************************/



.buttonHome {
  margin-top: 50px;
}

.titleHome {
  margin: 0 auto;
  width: 300px;
  height: 50px;

  color: black;
  border-radius: 10px;



}

.titleHome h1 {
  font-size: 43px;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-radius: 30px;
  font-family: 'Cinzel Decorative', cursive;


}



main div.textHome h3 {

  width: 60%;
  margin: 0 auto;
  font-family: 'Cinzel', serif;

}

main div.textHome {
  margin-top: 50px;
}





/***************************
      HOME POST
****************************/




  .postContainer {
    background-color: #c0c0c0;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    position: relative;
  }
  .postContainer:nth-child(2) {

    margin-top: 50px;

  }

  .photoProfileContainer {

    width: 100%;

    display: flex;
    flex-direction: row;
    border-radius: 5px 0px 5px 0px;


  }


  .postContainer .userName {
    width: 50%;

  }

  .userName h2 {
    font-size: 20px;
  }

  .postContainer .photoProfileContainer img.profilePicture {
  display: block;
  width: 80px;
  margin-left: 5px;
  border-radius: 5px;
  margin-top: 10px;
  height: 80px;

  }




  .postImage img{
    display: block;
    width: 100%;
    margin-top: 10px;


  }


  .postIcons {
    width: 100%;

    display: flex;
    flex-direction: row;


  }

  .postIcons-heart {
    width: 50%;
    border-right: 1px solid black;
  }

  .postIcons-comment {
    width: 50%;

  }

  button.buttons {
    font-size: 30px;
  }

  button.buttons {
    background-color: #c0c0c0;
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
    padding-bottom: 15px;

  }

  button.buttons i {
    color: black;
  }

  .comments {
    margin-top: 20px;


  }

  .comments p {
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
  }

  /********************  FRIENDS: ;**********************/

  div.friends-box{
  display: block;
  position: fixed;
  background-color: #a6a6a6;
  width: 500px;
  height: 500px;
  margin-left: 150px;
  margin-top: 236px;

  }

  div.icon-image{
  display: block;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  }

  div.textFriends{

  display: block;
  position: absolute;
  margin-left: 30px;
  margin-top: 5px;


  }

  div.search-friends{

  display: block;
  position: absolute;
  margin-left: 390px;
  font-size: 15px;
  margin-top: 5px;


  }

  div.friendsPhotos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;

  }

  div.friendsImage {


  }

  div.friendsImage img {
    width: 130px;
  }


  div.paco-name{
  display: block;
  position: absolute;
  margin-top: 190px;
  margin-left: 173px;

  }








/***************************
      REGISTRATION
****************************/

#loginform{

margin-top:20px;
margin-left:auto;
margin-right: auto;
width:270px;

}



/***************************
      Contact
****************************/
.input{

  width: 270px;
  padding:15px 25px;
  font-family: georgia;
  background: #c8cbe0;
  border:none;
  border-radius: 5px;
  color:#333;
  font-size: 14px;
  margin-top:15px;
}

#form {
  margin-top: 40px;
  margin: 0 auto;
}

/***************************
      LOGIN
****************************/



.loginbutton:hover{
	background-color:#e5bf05;
}

.link{
display: block;
  margin-top: 20px;
}




/***************************
      FAQ
****************************/





.questions h3{
  display: block;
  height: 40px;
  text-align: center;
  font-size: 40px;
  padding-top: 15px;
  font-family: italic;
}

.questions p {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-weight: bold;
font-family: 'Cinzel', serif;

}

.faqTitle h2 {
  font-size: 35px;
}



/***************************
      Profile User
****************************/

.card {
display: block;
background-color: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
margin-left: 160px;
  text-align: center;

  margin-top: 70px;

}

.titleUser {
  color: red;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a.social {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


div.containerUser{

background-repeat:  no-repeat;
background-position: center;
background-size: cover;


}

div.imageUser img{
padding-top: 5px;


  width: 100%;
  border-radius: 50%;

}

p.text{

color: white;

}



/*************
 FOOTER
**************/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;




	margin-top: 80px;
	overflow: hidden;

  padding: 30px;
  text-align: center;
  font: bold 14px sans-serif;
}

/* Footer left */
.footer-distributed .footer-left,
.footer-distributed .footer-right{
  float: none;
  max-width: 300px;
  margin: 0 auto;
}

.footer-distributed .footer-left{
  margin-bottom: 20px;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
  margin-top: 10px;
  font-size: 12px;
}


/* The search form */

.footer-distributed form{
	position: relative;
}

.footer-distributed form input{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 100%;
	padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus{
	outline: none;
}

/* Changing the placeholder color */

.footer-distributed form input::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed form input::-moz-placeholder {
	opacity: 1;
	color:  #5c666b;
}

.footer-distributed form input:-ms-input-placeholder{
	color:  #5c666b;
}


/* The magnify glass icon */

.footer-distributed form i{
	width: 18px;
	height: 18px;
	position: absolute;
	top: 16px;
	right: 18px;

	color: #d1d2d2;
	font-size: 18px;
}

/***************************
      MEDIA QUIRES
****************************/

@media screen and (max-width: 600px){

div.friends-box{

  display: none;
}

}

@media screen and (min-width: 600px) {

div.friends-box {

display: none;

}

  .postContainer {
    width: 100%;

  }

  div.postImage {

    width: 100%;


  }

  .postImage img {
  width: 100%

  }


}


@media screen and (min-width: 900px) {
  footer {
    display: none;
  }

  .postContainer:nth-child(2) {

    margin-top: 50px;

  }

  .postContainer:nth-child(3) {

    margin-top: 50px;

  }

  .postContainer:nth-child(4) {

    margin-top: 50px;

  }

  .postContainer {
    margin-top: 0;
    width: 50%;
    margin-right: 15px;

  }

  .postIcons {

  }

  .postImage img {
  width: 100%;

  }

div.friends-box{

  display: block;
  border-radius: 5px;
}


}

/* TODO: FIX THIS LATER ESTA EN MAX WIDTH PORQUE ESTA BARRA PRIMERO ESTA HECHO CON MOBILE-LAST */
@media screen and (max-width: 900px) {
  .sidebar {
    display: flex;
    width: 100%;
    height: 14vh;
    justify-content: space-between;
    align-items: center;

    position: absolute;
  }

  .sidebar a {
    flex-direction: row;

  }


}

]
